[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = ">=2.34.0"
pandas = ">=0.14.1"
"psycopg2" = "*"
coverage = "*"
pyparsing = "==1.5.6"
pygraphviz = "*"
testfixtures = ">=4.1.1"
mock = "*"
pytimeparse = "*"
requests = "*"
sqlparse = ">=0.2.0"
ipdb = "*"
Sphinx = ">=1.2.3"
sphinx_rtd_theme = ">=0.1.6"
MySQL-python = "*"
PyYAML = "*"
PyPrind = "*"

[dev-packages]

[requires]
python_version = "2.7"
