boto>=2.34.0
Sphinx>=1.2.3
sphinx-rtd-theme>=0.1.6
pandas>=0.14.1
psycopg2
# Force PyYAML version due awscli conflict
PyYAML<=3.13
coverage
pyparsing
mysqlclient>=1.4.2
pygraphviz
testfixtures>=4.1.1
mock
pytimeparse
pyprind
requests
sqlparse>=0.2.0
ipdb
nose
